.h1heading {
	font-size: 20px;
}
.date {
	font-size: 20px;
}

.ptname {
	font-size: 20px;
}

.DOB {
	font-size: 20px;
}

.Ptinsurance {
	font-size: 20px;
}

.Visit {
	font-size: 20px;
}

.Title {
	font-size: 30px;
}

.myname {
	font-size: 20px;
}

.h2heading {
	font-size: 20px;
}

.height{
	font-size: 20px;
}
.weight{ 
font-size: 20px
 }
 .Dob {
 	font-size: 20px;
 }
 .dx {
 	font-size: 20px;
 }

 .foodallergies {
 	font-size: 20px;
 }

.h3heading {
	font-size: 20px;
}
.recall {
	font-size: 20px;
}
.dietrestrictions {
	font-size: 20px;
}
.wtlossdiets {
	font-size: 20px;
}
.physicalactivity{
	font-size: 20px;
}
.physicallimitations {
	font-size: 20px;
}

.wtorappetitechanges {
	font-size: 20px;
}

.my.name {
font-size:30px;
}

.image1{
	height: 420px;
	width: 420px;
}

.image2 {
	height: 500px;
	width: 380px;
}

.image3 {
	height: 450px;
	width: 340px;
}
.image4 {
	height: 600px
	width 510;
}