.harvey {
	font-size:30px;
}
.harvey1 {
	border:5px solid black;
	border-radius: 20px;
	box-shadow: 5px 5px 5px grey;
	width: 40%;
 	margin-right:40;
 }	

 .irma {
 	font-size-adjust: 10px;
 	font-style: New Times;
 }

 .irma2 {
 	border-image: 10px;

 }
 .jose {
 	font-style: New Times;
 }

 .jose2 {
 	border-image: 20px;

 }

 .maria{
 	font-style: New Times;
 }

 .maria1{
 	border-image: 30px;

 }