.modal-wrapper{
	position:fixed;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.6);
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: none;
}

.modal{
	width: 400px;
	height: 200px;
	position: relative;
	top: 30%;
	padding: 30%;
	margin: 0 auto;
	background-color: white;
	border-radius: 10px;
}

.js-modal-close {
	margin-left: 90%;
}